/* code Trang nguoi dung   */

/* trang header  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 194px;
    background-color: #7283AE;
}
.trangchu_logo{
    margin-left: 50px;
    padding-top: 32px;
    width: 130px;
    height: 160px;
    position: absolute;
}
.trangchu_logo img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
.trangchu_search{
    position: absolute;
    margin-left: 214px;
    padding-top: 65px;
}
.trangchu_search1{
    position:absolute ;
    width: 1000px;
    height: 70px;
    border-radius: 20px;
    border: 1px solid #7283AE;
    font-size: 25px;
}
.trangchu_search2{
    position: relative;
    width: 150px;
    height: 70px;
    border-radius:0px 20px 20px 0px;
    margin-left: 850px;
    border: 1px solid #ACACAC;
    font-size: 32px;
}
.trangchu_taikhoan{
    padding-top: 10px;
    text-align: right;
    font-size: 32px;
}
.trangchu_taikhoan a{
    text-decoration: none;
    color: black;
}
.trangchi_giohang{
    margin-left: 1230px;
    font-size: 32px;
    margin-top: 32px;
}
.trangchi_giohang a{
    text-decoration: none;
    color: black;
}
/* kết thúc trang header  */

 /* trang footer  */
footer{
    width: 100%;
}
.trangchu_footer{
    background-color: #7283AE;
    width: 100%;
    display: flex;
    gap: 65px;
    padding-left: 70px;
    padding-bottom: 50px;
}
.trangchu_footer_1 h2{
    padding: 5px 0 0 0;
    font-size: 32px;
}
.trangchu_footer_1 a{
    padding-left: 10px;
    font-size: 24px;
    color: #000;
}
.trangchu_footer_sdt{
    width: 150px;
    height: 70px;
    border: solid 1px rgb(10, 186, 10);
    background-color: rgb(10, 186, 10);
    border-radius: 10px;
    font-size: 28px;
    text-align: center;
    margin-top: 80px;
    bottom: 30px;
    left: 1300px;
    position: fixed;
    float: right;
}
/* kết thúc trang footer  */
/* trang chủ  */
.trangchu_main{
    width: 100%;
    margin-top: 10px;
}
.trangchu_main_thongbao{
    width: 80%;
    margin: auto;
}
.trangchu_main_thongbao marquee{
    color: red;
    font-size: 32px;
}
.trangchu_main_box1{
    width: 100%;
    margin-top: 10px;
    display: flex;
    margin-left: 50px;
}
.trangchu_main_dmsp{
    width: 30%;
    height: 460px;
    background-color: #B3C5DA;
    font-size: 32px;
}
.trangchu_main_dmsp h2{
    margin-left: 10px;
}
.trangchu_main_dmsp_text{
    padding-top:10px;
    padding-bottom: 10px;
    border-bottom: solid #6B6464 2px;
}
.trangchu_main_dmsp_text:hover{
    background-color: rgb(59, 59, 59);
}
.trangchu_main_dmsp_text a{
    text-decoration: none;
    padding-left: 20px;
    color: #000;
}
.trangchu_main_dmsp_a{
    margin-top: 20px;
    margin-left: 120px;
    background-color: #E1E1E1;
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    border: 1px solid #000;
}
.trangchu_main_dmsp_a:hover{
    background-color: rgb(59, 59, 59);
}
.trangchu_main_dmsp_a a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.trangchu_main_banner{
    margin-left: 60px;
    width: 60%;
}
.trangchu_main_banner img{
    width: 100%;
    height: 460px;
}
.img{
    display: none;
}
.trangchu_main_box2{
    margin-top: 50px;
    margin-left: 50px;
    width: 94%;
    height: 350px;
    background-color: #B3C5DA;
    font-size: 32px;
}
.trangchu_main_box2_time{
    display: flex;
    color: red;
    position: absolute;
    margin-left: 10px;
}
.trangchu_main_box2_time h3{
    background-color: rgb(172, 172, 172);
    border: solid 2px #646464;
    margin: 10px 0 0 10px;
}
.trangchu_main_box2_link{
    float: right;
    margin: 10px 20px 0 0;
}
.trangchu_main_box2_link a{
    text-decoration: none;
}
.trangchu_main_box2_product{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 70px;
    padding-top: 80px;
    margin-left: 50px;
}
.trangchu_main_box2_product_1{
    width: 200px;
    height: 260px;
}
.trangchu_main_box2_product_1 img{
    width: 200px;
    height: 230px;
    position: absolute;
}
.trangchu_main_box2_product_1 h3{
    color: red;
    font-size: 20px;
    position: relative;
    position: absolute;
    margin: 240px 0 0 50px;
}
.trangchu_main_box2_product_1 h2{
    font-size: 15px;
    background-color: #FF9467;
    width: 80px;
    height: 30px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    float: right;
}
.trangchu_main_box3{
    margin-top: 50px;
    margin-left: 50px;
    width: 94%;
    height: 370px;
    background-color: #B3C5DA;
    font-size: 32px;
}
.trangchu_main_box3_product{
    padding-top: 70px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 70px;
    margin-left: 50px;
}
.trangchu_main_box3_product_1{
    width: 200px;
    height: 290px;
    border:1px solid #858585;
    background-color: #D9D9D9;
}
.trangchu_main_box3_product_1 img{
    width: 199px;
    height: 230px;
    position: absolute
}
.trangchu_main_box3_product_1 h3{
    color: red;
    font-size: 20px;
}
.trangchu_main_box3_product_1 p{
    font-size: 16px;
    margin-left: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 130px;
    margin-top: 230px;
}
.trangchu_main_box3_product_1 h5{
    font-size: 10px;
    float: right;
}
.trangchu_main_box4{
    width: 94%;
    margin-top: 40px;
    margin-bottom: 50px;
}
.trangchu_main_box4 h2{
    font-size: 38px;
    text-align: center;
}
.trangchu_main_box4 hr{
    height: 4px;
    width: 100%;
    background-color: #000;
    margin-left: 50px;
}
.trangchu_main_box4_product_1 img{
    width: 199px;
    height: 230px;
    
}
.trangchu_main_box4_product_1 h3{
    color: red;
    font-size: 20px;
}
.trangchu_main_box4_product_1 p{
    font-size: 16px;
    margin-left: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 130px;
}
.trangchu_main_box4_product_1 h5{
    font-size: 10px;
    float: right;
}
.trangchu_main_box4_product{
    padding-top: 70px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 70px;
    margin-left: 50px;
}
.trangchu_main_box4_product_1{
    width: 200px;
    height: 290px;
    border:1px solid #858585;
    background-color: #D9D9D9;
}
.trangchu_main_box4_link{
    margin-top: 20px;
    margin-left: 120px;
    background-color: #E1E1E1;
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 5px;
    border: 1px solid #000;
    margin: 50px 0 0 630px;
}
.trangchu_main_box4_link a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 32px;
}
.trangchu_main_box4_link:hover{
    background-color: rgb(59, 59, 59);
}
/* end trang chủ  */

/* trang danh muc san pham  */
.main{
    width: 95%;
    margin: auto;
}
.dmsp_link{
    font-size: 16px;
    margin-top: 10px;
}
.dmsp_link a{
    position: absolute;
    text-decoration: none;
}
.dmsp_link p{
    margin-left: 92px;
}
.dmsp_box{
    margin-top: 10px;
}
.dmsp_boxleft{
    background-color: #F1F1F1;
    width: 30%;
    float: left;
    font-size: 31px;
    padding-bottom: 50px;
}
.dmsp_boxleft_dm{
    width: 370px;
    height: 50px;
}
.dmsp_boxleft_dm a{
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    width: 300px;
}
.dmsp_boxleft_dm:hover{
    background-color: #6B6464;
}
.dmsp_boxleft hr{
    margin-top: 2px;
    height: 3px;
    background-color: #000;
}
.dmsp_boxleft_price_input{
    margin-left: 20px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.dmsp_boxleft_price_submit{
    width: 100px;
    height: 35px;
    font-size: 25px;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.dmsp_boxleft_price_submit:hover{
    background-color: #6B6464;
}
.dmsp_boxright{
    background-color: #F1F1F1;
    width: 67%;
    float: right;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.dmsp_boxright_menu{
    width: 100%;
    background-color: #B3C5DA;
    border-bottom: #000 solid 3px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: 32px;
    padding-top: 14px;
}
.dmsp_boxright_menu_1{
    text-align: center;
    width: 230px;
    height: 40px;
    background-color: #D9D9D9;
}
.dmsp_boxright_menu_1 a{
    color: #000;
    text-decoration: none;
    border-bottom: #000 solid 1px;
}
.dmsp_boxright_menu_1:hover{
    background-color: #6B6464;
}
.dmsp_boxright_product{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
 /* end trang danh muc san pham  */

  /* start trang chi tiet san pham  */
.ctsp{
    margin: 10px 0 50px 0;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.ctsp_link a{
    float: left;
    margin-right: 10px;
    text-decoration: none;
}
.ctsp_product{
}
.ctsp_product_box{
    margin-top: 10px;
    width: 100%;
}
.ctsp_product_box1{
    width: 35%;
    height: 800px;
    float: left;
}

.ctsp_product_box1_img1 img{
    width: 99%;
    height: 500px;
    border: 1px solid rgb(198, 198, 198) ;
}
.ctsp_product_box1_img2{
    width: 100%;

}
.ctsp_product_box1_img2 img{
    border: solid rgb(198, 198, 198) 1px;
    width: 32.4%;
    height: 200px;
}
.ctsp_product_box2{
    width: 63%;
    height: 800px;
    float: right;
}
.ctsp_product_box2 h2{
    font-size: 32px;
    font-weight: lighter;
}
.ctsp_product_box2 p{
    font-size: 20px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}
.ctsp_product_box2_1{
    border-right: 1px solid #969696;
    padding-right: 20px;
    clear: left;
}
.ctsp_product_box2_price{
    width: 100%;
    height: 120px;
    background-color: #D9D9D9;
    margin-top: 60px;
}
.ctsp_product_box2_price{
    display: flex;
    padding-top: 30px;
}
.ctsp_product_box2_price p{
    text-decoration: line-through;
    font-size: 12px;
}
.ctsp_product_box2_price h2{
    font-size: 40px;
    color: red;
    margin-left: 20px;
}
.ctsp_product_box2_price_1{
    width: 100px;
    height: 30px;
    background-color: #FF9467;
    margin-top: 10px;
    margin-left: 20px;
    
}
.ctsp_product_box2_price_1 p{
    margin-top: 5px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
}
.ctsp_product_box2_property_1 {
    margin-top: 30px;
    display: flex;   
}
.ctsp_product_box2_property_1 h2{
    position: absolute;
}
.ctsp_product_box2_property_1 h3{
    margin:0 0 0 210px;
    font-size: 32px;
}
.ctsp_product_form_1{
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.ctsp_product_form_1 input{
    width: 20px;
    height: 20px;
}
.ctsp_product_form_1 button{
    background-color: #E1E1E1;
    border: 1px solid #000;
    width: 100px;
    height: 40px;
    font-size: 20px;
}
.ctsp_product_form_1 button{
    background-color: #6B6464 !important
}
.ctsp_product_form_1 button:hover{
    background-color: #6B6464;
}
.ctsp_product_form_1 button.active{
    background-color: #6B6464;
}
.ctsp_product_form_2{
    margin-top: 30px;
    display: flex;
}
.ctsp_product_form_2 h2{
    margin-right: 50px;
}
.ctsp_product_form_2 button{
    margin-top: 8px;
    width: 50px;
    height: 30px;
    font-size: 20px;
}
.ctsp_product_form_2 button:hover{
    background-color: #6B6464;
}
.ctsp_product_form_2 input{
    margin-top: 8px;
    width: 70px;
    height: 30px;
    text-align: center;
}
.ctsp_product_form_2 h5{
    margin: 18px 0 0 30px ;
    font-size: 20px;
}
.ctsp_product_form_3{
    margin-top: 50px;
    display: flex;
    margin-left: 10px;
}
.ctsp_product_form_3 input{
    width: 200px;
    height: 50px;
    margin-left: 50px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    background-color: #646464;
    border-radius: 10px;
}
.ctsp_product_form_3 input:hover{
    background-color: #aeaeae;
}
.ctsp_deltail {
    font-size: 25px;
}
.ctsp_deltail h2{
    margin-left: 20px;
}
.ctsp_deltail_1{
    width: 100%;
    height: auto;
    background-color: #D9D9D9;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.ctsp_comment {
    font-size: 25px;
    margin-top: 40px;
}
.ctsp_comment_1{
    display: flex;
    justify-content: space-between;
}
.ctsp_comment_1 form{
    margin-right: 20px;
}
.ctsp_comment_1_1{
    width: 500px;
    height: 30px;
}
.ctsp_comment_1_2{
    width: 70px;
    height: 30px;
}
.ctsp_comment h2{
    margin-left: 20px;
}
.ctsp_comment div {
    width: 100%;
    height: auto;
    background-color: #D9D9D9;
    padding: 20px 0 0 10px;
}
.ctsp_comment div div{
    display: flex;
}
.ctsp_comment div p{
    margin-left: 20px;
}
.ctsp_same{
    margin-top: 20px;
}
.ctsp_same h2{
    font-size: 32px;
    margin-left: 20px;
}
.ctsp_same_product{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 50px;
}